<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <!-- Nav Bar -->
        <div class="nav-bar d-flex justify-content-around">
            <h1>Welcome {{user.first_name}}</h1>
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <form action="/dashboard" class="text-center">
                        <button type="submit" class="btn btn-primary m-3">Dashboard</button>
                    </form>
                    <form action="/logout" class="text-center">
                        <button type="submit" class="btn btn-primary m-3">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card p-3 rounded border-dark shadow">
            <!-- Left column -->
            <h3 class="font-bold text-center">Ready for your trip to {{ride.destination}}</h3>
            <div class="">
                <div class="d-flex">
                    <p class="col-3">Who's driving:</p>
                    <p class="col-8">{{ride.driver_name}}</p>
                </div>
                <div class="d-flex">
                    <p class="col-3">Who's coming along:</p>
                    <p class="col-8">{{ride.rider_name}}</p>
                </div>
                <div class="d-flex">
                    <p class="col-3">Date:</p>
                    <p class="col-8">{{ride.date.strftime('%m/%d/%y')}}</p>
                </div>
                <div class="d-flex">
                    <p class="col-3">Pick-up Location:</p>
                    <p class="col-8">{{ride.pick_up}}</p>
                </div>
                <div class="d-flex">
                    <p class="col-3">Details</p>
                    <p class="col-8">{{ride.details}}</p>
                </div>
                {% if session.user_id == ride.rider_id %}
                <p class="text-center mb-0"><a href="/edit_ride/{{ride.id}}" class="">Edit</a> | <a href="/delete-ride/{{ride.id}}" class="">Delete</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>